////
/// Columns block.
///
/// @group  Blocks
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.wp-block-columns {
	display: flex;
	flex-wrap: wrap;

	@media ( min-width: break(small) ) {
		flex-wrap: nowrap;
	}

	// Individual columns.
	.wp-block-column {
		flex-grow: 1;
		margin-bottom: rem(24px);


		@media ( min-width: break(small) ) {

			// Apply a left margin to all but the first columns.
			&:not(:first-child) {
				margin-left: rem(24px);
			}
		}

		// Remove the bottom margin of the last inner block.
		> :last-child {
			margin-bottom: 0;
		}
	}
}

// Editor specific styling. Make sure columns span correctly.
.editor-inner-blocks {
	flex: 1;
}
