////
/// Heading block.
///
/// @group  Blocks
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

h1.is-style-large {
	font-size: rem(54px);
	line-height: get-line-height(54px, 72px);
}

h2.is-style-large {
	font-size: rem(42px);
	line-height: get-line-height(42px, 60px);
}

h3.is-style-large {
	font-size: rem(30px);
	line-height: get-line-height(30px, 36px);
}
