////
/// Image block.
///
/// @group  Blocks
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.wp-block-image {
	margin-bottom: rem(24px);
	max-width: 100%;

	img {
		max-width: 100%;
	}

	figcaption {}

	&.is-resized {
		width: min-content;

		// Emulate min-content for Edge and IE11
		display: -ms-inline-grid;
		-ms-grid-columns: min-content;

		figcaption {
			-ms-grid-row: 2;
		}

		img {
			max-width: none;
		}
	}

	&.alignfull {
		img {
			min-width: 100%;
		}
	}
}
