////
/// Pullquote block.
///
/// @group  Blocks
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.wp-block-pullquote {
	border: rem(1px solid color(border));
	padding: rem(36px);
	font-size: rem(24px);
	text-align: center;

	blockquote {
		border: 0;
		margin: 0 auto;
		padding: 0;
	}

	&.alignfull {
		border-left-width: 0;
		border-right-width: 0;
	}

	&.alignfull blockquote,
	&.alignwide blockquote {
		max-width: content-width();
	}

	cite {
		font-size: rem(18px);
	}
}
