////
/// Separator block.
///
/// @group  Blocks
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.wp-block-separator {
	margin: 0;
	clear: both;

	&.is-style-wide {
		margin-left: -100%;
		margin-right: -100%;
	}

	&.is-style-dots {
		border-style: dashed;
	}

	.layout-boxed &.is-style-wide {
		margin-left: rem(-125px);
		margin-right: rem(-125px);
	}
}
