////
/// Table block.
///
/// @group  Blocks
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.wp-block-table {

	&.has-fixed-layout {
		table-layout: fixed;
		width: 100%;
	}

	&.is-style-stripes {

		tbody tr:nth-child(odd) {
			background-color: #eee;
		}
	}
}
