////
/// Spacing settings. Used to generate helper CSS classes that will
/// space out elements.
///
/// @group  Settings
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

/// Returns a map of spacing sizes in name-value format.
///
/// @since  0.9.0
/// @access public
/// @return {map}  Map of defined spacing sizes.

@function spacing-sizes() {

	@return (
		massive : remo(120px),
		largest : rem(96px),
		large   : rem(72px),
		medium  : rem(48px),
		small   : rem(24px)
	);
}

/// Returns a spacing value by name.
///
/// @since  0.9.0
/// @access public
/// @param  {string}  $name  Page break name.
/// @return {string}         Page break value in pixels

@function spacing-size( $name ) {

	@return map-get( spacing-sizes(), $name );
}
