////
/// Customize controls styles.
///
/// Styles should focus on the customize controls panel. This covers panels,
/// sections, and controls.
///
/// @group  CustomizeControls
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

#customize-control-header_icon select,
#customize-control-header_icon select option {
	font-family: FontAwesome !important; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-size: 24px !important;
}

#customize-control-header_icon select {
	height: 45px;
	padding: 0 15px;
}
