////
/// App header component.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.app-header {
	background: color(secondary);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
	font-family: font-family(secondary);

	// Clearing floats.
	&::after {
		@extend %clearfix;
	}

	// Header wrap.
	&__wrap {
		max-width: content-width() + 24rem;
		margin: auto;
		box-sizing: content-box;
		padding: rem(0 18px);
	}

	// Wrapper around the title and description.
	&__branding {
		float: left;
		padding: rem(18px 0);
		width: rem(300px);
		font-size: rem(15px);
		line-height: get-line-height(15, 24);
	}

	// Icon link.
	&__icon-link {
		float: left;
		margin-right: 1rem;
		background: color(primary);
		color: #fff;
		width: rem(60px);
		font-size: rem(36px);
		line-height: rem(60px);
		text-align: center;
	}

	// The site title.
	&__title {
		margin: 0;
		padding: 0;
		font-size: rem(24px);
		font-weight: 700;
		line-height: get-line-height(24, 36);

		@media ( max-width: break(small) ) {
			font-size: rem(27px);
			line-height: get-line-height(27, 60);
		}
	}

	// Site title link.
	&__title-link {
		color: #fff;
	}

	// The site description.
	&__description {
		color: #ccc;
		font-weight: 400;
		margin-top: rem(-4px);

		@media ( max-width: break(small) ) {
			display: none;
		}
	}
}

// Sticky Header.

:not(.admin-bar).sticky-header {

	.app-header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.app-below__header {
		padding-top: rem(96px);
	}
}
