////
/// App header component.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.app-header {
	background: color(secondary);
	box-shadow: rem(0 3px 3px rgba(#000, 25%));
	font-family: font-family(secondary);

	// Clearing floats.
	&::after {
		@extend %clearfix;
	}

	// Header wrap.
	&__wrap {
		max-width: content-width() + 24rem;
		margin: auto;
		box-sizing: content-box;
		padding: rem(0 18px);
	}

	// Wrapper around the title and description.
	&__branding {
		float: left;
		padding: rem(18px 0);
		width: rem(300px);
	}

	// Logo link.
	&__icon-link {
		float: left;
		width: rem(60px);
		margin-right: 1rem;
		background: color(primary);
		box-shadow: rem(inset 0 -3px rgba(#000, 25%), 0 2px 3px rgba(#000, 25%));
		text-align: center;

		// Logo icon.
		.fa {
			position: relative;
			top: rem(-2px);
			font-size: rem(36px);
			line-height: rem(60px);
			color: #fff;
		}

		// Show home icon on hover.
		&:focus .fa::before,
		&:hover .fa::before {
			content: '\f015';
		}
	}

	// The site title.
	&__title {
		margin: 0;
		padding: 0;
		font-size: rem(24px);
		font-weight: 700;
		line-height: get-line-height(24, 36);

		@media ( max-width: break(small) ) {
			font-size: rem(27px);
			line-height: get-line-height(27, 60);
		}
	}

	// Site title link.
	&__title-link {
		color: #fff;
	}

	// The site description.
	&__description {
		font-size: rem(15px);
		font-weight: 300;
		color: rgba(#fff, 75%);
		margin-top: rem(-3px);

		@media ( max-width: break(small) ) {
			display: none;
		}
	}
}

// Sticky Header.

:not(.admin-bar).sticky-header {

	.app-header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.app-below__header {
		padding-top: rem(96px);
	}
}
