////
/// App footer component.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.app-footer {
	overflow: hidden;
	padding: 0.75rem 1.5rem;
	background-color: #222;
	font-size: rem(14px);
	line-height: get-line-height(14px, 24px);
	color: rgba(#fff, 50%);

	// Clearing floats.
	&::after {
		@extend %clearfix;
	}

	// Footer wrap.
	&__wrap {
		max-width: content-width() + 250px;
		margin: auto;
	}

	// Footer credit.
	&__credit {
		margin: 1.5rem auto;
		text-align: center;
	}
}
