////
/// App content component.
///
/// This component generally wraps the `<main>` section and the sidebar.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.app-content {
	background: #fff;
	margin: auto;

	&::after,
	&::before {
		@extend %clearfix;
	}

	.layout-boxed & {

		@media ( min-width: break(tablet) ) {
			max-width: content-width() + 12rem;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			box-shadow: rem(0 3px 4px rgba(#000, 25%));
		}
	}

	.layout-boxed.layout-wide & {
		max-width: content-width() + 18rem;
	}
}
