////
/// Archive posts component. Wraps the posts on an archive page.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.archive-posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 1.5rem;
	margin-bottom: 3rem;
}
