////
/// Archive posts component. Wraps the posts on an archive page.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.archive-posts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: rem(36px);
	row-gap: 1.5rem;

	@media ( max-width: break(small) ) {
		grid-template-columns: 1fr;
	}
}
