////
/// Archive header component.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.archive-header {
	margin-bottom: rem(48px);

	&__title {
		margin-bottom: rem(36px);
		text-align: center;
	}

	&__description {
		border-left: rem(6px solid color(primary));
		padding: 1.5rem 2rem;
		background: #eee;
		font-family: font-family(secondary);
		font-size: rem(21px);
		line-height: get-line-height(21px, 36px);

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
