.page-template-landing-page {

	.entry {

		&__header {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 18rem;
			margin-bottom: 0;
			border: 0;
			padding: 4.5rem 10%;
			overflow: hidden;
			background: linear-gradient(90deg, color(tertiary) 0%, lighten(color(tertiary), 10%) 100%);

			// Media overlay.
			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
				background-color: rgba(color(tertiary), 75%);
				background-image: url(../img/checkered-pattern.png);
			}

			// Custom header media.
			.wp-custom-header img,
			.wp-custom-header video,
			.wp-custom-header iframe {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
			}

			// Custom header play/pause button.
			.wp-custom-header-video-button {
				display: none;
			}
		}

		// Header content area.
		&__summary {
			max-width: content-width();
			z-index: 10;
			color: rgba(#fff, 60%);

			// Light style heading.
			h1,
			h2,
			h3 {
				color: #fff;
				text-shadow: rem(1px 2px 2px rgba(#000, 25%));
			}

			// Responsive large font for smaller screens.
			@media ( max-width: break(medium) ) {
				h1 {
					font-size: responsive-font(30, 48, 320, 960);
				}
			}

			// Remove last bottom margin (ignore elements with margin utility classes).
			> :last-child:not([class*="-margin"]) {
				margin-bottom: 0;
			}
		}
	}
}

// Increase the min-height if we're on the front page.
.home.page-template-landing-page {

	.entry__header {
		min-height: 36rem;
	}
}
