////
/// Entry component for posts & pages, singular and plural.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

// Common entry.
.entry {

	// Entry media.
	&__media {
		margin-bottom: 1.5rem;

		// SVG container.
		.svg-featured {
			display: block;
			width: 100%;
			height: auto;
			background: #ccc;
		}

		// SVG focus/hover.
		a:focus .svg-featured,
		a:hover .svg-featured {
			background: color(primary);
		}

		// SVG shape.
		.svg-featured .svg-shape {
			fill: color(primary);
		}

		// SVG icon.
		.svg-featured .svg-icon {
			@extend %icon;
			font-size: rem(45px);
			line-height: 1;
			fill: #fff;
		}
	}
}

// Archive entry.
.plural .entry {

	// Entry title.
	&__title {
		margin: 0 0 0.75rem;
		font-size: rem(22px);
		line-height: get-line-height(22px, 30px);
	}

	// Entry title permalink.
	&__permalink {
		color: color(heading);
	}
}

// Singular entry.
.single .entry {

	&::after {
		@extend %clearfix;
	}

	// Header wrapper.
	&__header {
		margin-bottom: rem(48px);
		border-bottom: 1px solid color(primary);
		padding: rem(0 0 24px);
		text-align: center;
	}

	&__summary {
		font-family: font-family(secondary);
		font-size: rem(22px);
		line-height: get-line-height(22px, 36px);
	}

	&__byline {
		margin-bottom: 1.5rem;
		font-size: rem(18px);
		line-height: get-line-height(18px, 24px);
	}

	&__footer {
		margin-bottom: 1.5rem;
	}
}
