////
/// Entry component for the 'portfolio_project' custom post type.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

// Archive portfolio entry.
.archive-portfolio_project {

	.entry {
		text-align: center;
	}
}

// Singular portfolio entry.
.single-portfolio_project {

	.entry__header {
		padding: rem(12px 0 36px);
		text-align: left;

		@media ( min-width: break(tablet) ) {
			margin: rem(0 -24px 48px);
		}

		&::after {
			@extend %clearfix;
		}
	}

	.entry__media {
		float: right;
		margin: 0 0 1.5rem 5%;
		outline: rem(3px solid #ccc);

		@media ( max-width: break(tablet) ) {
			width: 50%;
		}

		@media ( max-width: break(small) ) {
			float: none;
			width: 100%;
			margin: -0.75rem 0 2.25rem;
		}
	}

	.project-meta {
		list-style-type: none;
		margin-left: 0;

		.project-key {
			display: block;
			font-weight: 600;
			color: color(heading);
		}

		.project-data {
			font-size: rem(14px);
			line-height: get-line-height(14px, 24px);
		}
	}

	.project-link-wrap {
		margin: 1.5rem auto;

		.project-link {
			@extend button;
		}
	}
}
