////
/// Entry component for posts & pages, singular and plural.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

// Archive entry.
.plural .entry {

	// Entry image.
	img {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	// SVG container.
	.svg-featured {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto 1.5rem;
		background: #ccc;
	}

	// SVG focus/hover.
	a:focus .svg-featured,
	a:hover .svg-featured {
		background: color(primary);
	}

	// SVG shape.
	.svg-featured .svg-shape {
		fill: color(primary);
	}

	// SVG icon.
	.svg-featured .svg-icon {
		@extend %icon;
		font-size: rem(45px);
		line-height: 1;
		fill: #fff;
	}

	// Entry title.
	&__title {
		padding: 0;
		font-size: rem(22px);
		line-height: get-line-height(22px, 30px);
	}

	// Entry title permalink.
	&__permalink {
		color: color(heading-color);
	}

	// Meta wrappers.
	&__byline {
		font-size: rem(14px);
		line-height: get-line-height(14px, 24px);
	}
}

// Singular entry.
.single .entry {

	&::after {
		@extend %clearfix;
	}

	// Header wrapper.
	&__header {
		margin-bottom: rem(48px);
		border-bottom: 1px solid color(primary);
		padding: rem(12px 0 24px);
		text-align: center;
	}

	&__summary {
		padding: rem(6px 0);
		font-family: font-family(secondary);
		font-size: rem(22px);
		line-height: get-line-height(22px, 36px);
	}

	&__byline {
		margin-bottom: 1.5rem;
		font-size: rem(18px);
		line-height: get-line-height(18px, 24px);
	}

	&__footer {
		margin-bottom: 1.5rem;
	}
}
