////
/// Gallery (shortcode) component.
///
/// @group Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link http://www.strangebrewdesign.com
////

.gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: rem(1.5rem 0);

	// Circle type gallery
	&-type-circle {

		img {
			border-radius: 50%;
		}
	}

	// List item
	&-item {
		padding: rem(12px);
		text-align: center;
	}

	// Columns width
	@media ( min-width: break(small) ) {

		@for $i from 1 through 10 {

			&-columns-#{ $i } &-item {
				width: calc( 100% / #{ $i } );
			}
		}
	}

	// Thumbnail container
	&-icon {

		// Image thumbnail
		img {
			width: auto;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			outline: rem(3px solid #ccc);
		}
	}
}
