////
/// Breadcrumb menu component.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.breadcrumbs {
	background: color(primary);
	background: linear-gradient(45deg, color(primary) 0%, lighten(color(primary), 10%) 100%);
	text-align: center;

	.layout-boxed & {
		text-align: left;
	}

	// Breadcrumb title
	&__title {
		@extend %screen-reader-text;
	}

	// Breadcrumb trail
	&__trail {
		margin: 0 auto;
		padding: rem(12px 24px);
		font-size: rem(14px);
		line-height: get-line-height(14px, 24px);
	}

	// Default crumb.
	&__crumb {
		display: inline-block;
		color: #fff;
		font-weight: 400;

		&::after {
			@extend %icon;
			content: '\f105';
			margin: rem(0 12px);
		}

		&:last-of-type {
			max-width: rem(150px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: bottom;
			color: rgba(#fff, 70%);
		}

		&:last-of-type::after {
			content: none;
		}

		a {
			color: #fff;
		}
	}
}

// Project crumbs.
.single-portfolio_project .breadcrumbs {
	text-align: left;
}
