////
/// Nav footer menu component.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

.menu--footer {
	margin: 1.5rem auto;
	text-align: center;

	.menu__items {
		margin: 0;
	}

	.menu__item {
		display: inline-block;
		margin: rem(0 12px);
	}

	.menu__link {
		color: rgba(#fff, 75%);

		&:hover {
			color: #fff;
		}
	}
}
