////
/// Nav menu component - FontAwesome icons.
///
/// @group  Components
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

// FontAwesome icon classes.
.fa-glass > ::before {
	content: "\f000";
}
.fa-music > a::before {
	content: "\f001";
}
.fa-search > a::before {
	content: "\f002";
}
.fa-envelope-o > a::before {
	content: "\f003";
}
.fa-heart > a::before {
	content: "\f004";
}
.fa-star > a::before {
	content: "\f005";
}
.fa-star-o > a::before {
	content: "\f006";
}
.fa-user > a::before {
	content: "\f007";
}
.fa-film > a::before {
	content: "\f008";
}
.fa-th-large > a::before {
	content: "\f009";
}
.fa-th > a::before {
	content: "\f00a";
}
.fa-th-list > a::before {
	content: "\f00b";
}
.fa-check > a::before {
	content: "\f00c";
}
.fa-remove a::before,
.fa-close a::before,
.fa-times > a::before {
	content: "\f00d";
}
.fa-search-plus > a::before {
	content: "\f00e";
}
.fa-search-minus > a::before {
	content: "\f010";
}
.fa-power-off > a::before {
	content: "\f011";
}
.fa-signal > a::before {
	content: "\f012";
}
.fa-gear a::before,
.fa-cog > a::before {
	content: "\f013";
}
.fa-trash-o > a::before {
	content: "\f014";
}
.fa-home > a::before {
	content: "\f015";
}
.fa-file-o > a::before {
	content: "\f016";
}
.fa-clock-o > a::before {
	content: "\f017";
}
.fa-road > a::before {
	content: "\f018";
}
.fa-download > a::before {
	content: "\f019";
}
.fa-arrow-circle-o-down > a::before {
	content: "\f01a";
}
.fa-arrow-circle-o-up > a::before {
	content: "\f01b";
}
.fa-inbox > a::before {
	content: "\f01c";
}
.fa-play-circle-o > a::before {
	content: "\f01d";
}
.fa-rotate-right a::before,
.fa-repeat > a::before {
	content: "\f01e";
}
.fa-refresh > a::before {
	content: "\f021";
}
.fa-list-alt > a::before {
	content: "\f022";
}
.fa-lock > a::before {
	content: "\f023";
}
.fa-flag > a::before {
	content: "\f024";
}
.fa-headphones > a::before {
	content: "\f025";
}
.fa-volume-off > a::before {
	content: "\f026";
}
.fa-volume-down > a::before {
	content: "\f027";
}
.fa-volume-up > a::before {
	content: "\f028";
}
.fa-qrcode > a::before {
	content: "\f029";
}
.fa-barcode > a::before {
	content: "\f02a";
}
.fa-tag > a::before {
	content: "\f02b";
}
.fa-tags > a::before {
	content: "\f02c";
}
.fa-book > a::before {
	content: "\f02d";
}
.fa-bookmark > a::before {
	content: "\f02e";
}
.fa-print > a::before {
	content: "\f02f";
}
.fa-camera > a::before {
	content: "\f030";
}
.fa-font > a::before {
	content: "\f031";
}
.fa-bold > a::before {
	content: "\f032";
}
.fa-italic > a::before {
	content: "\f033";
}
.fa-text-height > a::before {
	content: "\f034";
}
.fa-text-width > a::before {
	content: "\f035";
}
.fa-align-left > a::before {
	content: "\f036";
}
.fa-align-center > a::before {
	content: "\f037";
}
.fa-align-right > a::before {
	content: "\f038";
}
.fa-align-justify > a::before {
	content: "\f039";
}
.fa-list > a::before {
	content: "\f03a";
}
.fa-dedent a::before,
.fa-outdent > a::before {
	content: "\f03b";
}
.fa-indent > a::before {
	content: "\f03c";
}
.fa-video-camera > a::before {
	content: "\f03d";
}
.fa-photo a::before,
.fa-image a::before,
.fa-picture-o > a::before {
	content: "\f03e";
}
.fa-pencil > a::before {
	content: "\f040";
}
.fa-map-marker > a::before {
	content: "\f041";
}
.fa-adjust > a::before {
	content: "\f042";
}
.fa-tint > a::before {
	content: "\f043";
}
.fa-edit a::before,
.fa-pencil-square-o > a::before {
	content: "\f044";
}
.fa-share-square-o > a::before {
	content: "\f045";
}
.fa-check-square-o > a::before {
	content: "\f046";
}
.fa-arrows > a::before {
	content: "\f047";
}
.fa-step-backward > a::before {
	content: "\f048";
}
.fa-fast-backward > a::before {
	content: "\f049";
}
.fa-backward > a::before {
	content: "\f04a";
}
.fa-play > a::before {
	content: "\f04b";
}
.fa-pause > a::before {
	content: "\f04c";
}
.fa-stop > a::before {
	content: "\f04d";
}
.fa-forward > a::before {
	content: "\f04e";
}
.fa-fast-forward > a::before {
	content: "\f050";
}
.fa-step-forward > a::before {
	content: "\f051";
}
.fa-eject > a::before {
	content: "\f052";
}
.fa-chevron-left > a::before {
	content: "\f053";
}
.fa-chevron-right > a::before {
	content: "\f054";
}
.fa-plus-circle > a::before {
	content: "\f055";
}
.fa-minus-circle > a::before {
	content: "\f056";
}
.fa-times-circle > a::before {
	content: "\f057";
}
.fa-check-circle > a::before {
	content: "\f058";
}
.fa-question-circle > a::before {
	content: "\f059";
}
.fa-info-circle > a::before {
	content: "\f05a";
}
.fa-crosshairs > a::before {
	content: "\f05b";
}
.fa-times-circle-o > a::before {
	content: "\f05c";
}
.fa-check-circle-o > a::before {
	content: "\f05d";
}
.fa-ban > a::before {
	content: "\f05e";
}
.fa-arrow-left > a::before {
	content: "\f060";
}
.fa-arrow-right > a::before {
	content: "\f061";
}
.fa-arrow-up > a::before {
	content: "\f062";
}
.fa-arrow-down > a::before {
	content: "\f063";
}
.fa-mail-forward a::before,
.fa-share > a::before {
	content: "\f064";
}
.fa-expand > a::before {
	content: "\f065";
}
.fa-compress > a::before {
	content: "\f066";
}
.fa-plus > a::before {
	content: "\f067";
}
.fa-minus > a::before {
	content: "\f068";
}
.fa-asterisk > a::before {
	content: "\f069";
}
.fa-exclamation-circle > a::before {
	content: "\f06a";
}
.fa-gift > a::before {
	content: "\f06b";
}
.fa-leaf > a::before {
	content: "\f06c";
}
.fa-fire > a::before {
	content: "\f06d";
}
.fa-eye > a::before {
	content: "\f06e";
}
.fa-eye-slash > a::before {
	content: "\f070";
}
.fa-warning a::before,
.fa-exclamation-triangle > a::before {
	content: "\f071";
}
.fa-plane > a::before {
	content: "\f072";
}
.fa-calendar > a::before {
	content: "\f073";
}
.fa-random > a::before {
	content: "\f074";
}
.fa-comment > a::before {
	content: "\f075";
}
.fa-magnet > a::before {
	content: "\f076";
}
.fa-chevron-up > a::before {
	content: "\f077";
}
.fa-chevron-down > a::before {
	content: "\f078";
}
.fa-retweet > a::before {
	content: "\f079";
}
.fa-shopping-cart > a::before {
	content: "\f07a";
}
.fa-folder > a::before {
	content: "\f07b";
}
.fa-folder-open > a::before {
	content: "\f07c";
}
.fa-arrows-v > a::before {
	content: "\f07d";
}
.fa-arrows-h > a::before {
	content: "\f07e";
}
.fa-bar-chart-o a::before,
.fa-bar-chart > a::before {
	content: "\f080";
}
.fa-twitter-square > a::before {
	content: "\f081";
}
.fa-facebook-square > a::before {
	content: "\f082";
}
.fa-camera-retro > a::before {
	content: "\f083";
}
.fa-key > a::before {
	content: "\f084";
}
.fa-gears a::before,
.fa-cogs > a::before {
	content: "\f085";
}
.fa-comments > a::before {
	content: "\f086";
}
.fa-thumbs-o-up > a::before {
	content: "\f087";
}
.fa-thumbs-o-down > a::before {
	content: "\f088";
}
.fa-star-half > a::before {
	content: "\f089";
}
.fa-heart-o > a::before {
	content: "\f08a";
}
.fa-sign-out > a::before {
	content: "\f08b";
}
.fa-linkedin-square > a::before {
	content: "\f08c";
}
.fa-thumb-tack > a::before {
	content: "\f08d";
}
.fa-external-link > a::before {
	content: "\f08e";
}
.fa-sign-in > a::before {
	content: "\f090";
}
.fa-trophy > a::before {
	content: "\f091";
}
.fa-github-square > a::before {
	content: "\f092";
}
.fa-upload > a::before {
	content: "\f093";
}
.fa-lemon-o > a::before {
	content: "\f094";
}
.fa-phone > a::before {
	content: "\f095";
}
.fa-square-o > a::before {
	content: "\f096";
}
.fa-bookmark-o > a::before {
	content: "\f097";
}
.fa-phone-square > a::before {
	content: "\f098";
}
.fa-twitter > a::before {
	content: "\f099";
}
.fa-facebook-f a::before,
.fa-facebook > a::before {
	content: "\f09a";
}
.fa-github > a::before {
	content: "\f09b";
}
.fa-unlock > a::before {
	content: "\f09c";
}
.fa-credit-card > a::before {
	content: "\f09d";
}
.fa-feed a::before,
.fa-rss > a::before {
	content: "\f09e";
}
.fa-hdd-o > a::before {
	content: "\f0a0";
}
.fa-bullhorn > a::before {
	content: "\f0a1";
}
.fa-bell > a::before {
	content: "\f0f3";
}
.fa-certificate > a::before {
	content: "\f0a3";
}
.fa-hand-o-right > a::before {
	content: "\f0a4";
}
.fa-hand-o-left > a::before {
	content: "\f0a5";
}
.fa-hand-o-up > a::before {
	content: "\f0a6";
}
.fa-hand-o-down > a::before {
	content: "\f0a7";
}
.fa-arrow-circle-left > a::before {
	content: "\f0a8";
}
.fa-arrow-circle-right > a::before {
	content: "\f0a9";
}
.fa-arrow-circle-up > a::before {
	content: "\f0aa";
}
.fa-arrow-circle-down > a::before {
	content: "\f0ab";
}
.fa-globe > a::before {
	content: "\f0ac";
}
.fa-wrench > a::before {
	content: "\f0ad";
}
.fa-tasks > a::before {
	content: "\f0ae";
}
.fa-filter > a::before {
	content: "\f0b0";
}
.fa-briefcase > a::before {
	content: "\f0b1";
}
.fa-arrows-alt > a::before {
	content: "\f0b2";
}
.fa-group a::before,
.fa-users > a::before {
	content: "\f0c0";
}
.fa-chain a::before,
.fa-link > a::before {
	content: "\f0c1";
}
.fa-cloud > a::before {
	content: "\f0c2";
}
.fa-flask > a::before {
	content: "\f0c3";
}
.fa-cut a::before,
.fa-scissors > a::before {
	content: "\f0c4";
}
.fa-copy a::before,
.fa-files-o > a::before {
	content: "\f0c5";
}
.fa-paperclip > a::before {
	content: "\f0c6";
}
.fa-save a::before,
.fa-floppy-o > a::before {
	content: "\f0c7";
}
.fa-square > a::before {
	content: "\f0c8";
}
.fa-navicon a::before,
.fa-reorder a::before,
.fa-bars > a::before {
	content: "\f0c9";
}
.fa-list-ul > a::before {
	content: "\f0ca";
}
.fa-list-ol > a::before {
	content: "\f0cb";
}
.fa-strikethrough > a::before {
	content: "\f0cc";
}
.fa-underline > a::before {
	content: "\f0cd";
}
.fa-table > a::before {
	content: "\f0ce";
}
.fa-magic > a::before {
	content: "\f0d0";
}
.fa-truck > a::before {
	content: "\f0d1";
}
.fa-pinterest > a::before {
	content: "\f0d2";
}
.fa-pinterest-square > a::before {
	content: "\f0d3";
}
.fa-google-plus-square > a::before {
	content: "\f0d4";
}
.fa-google-plus > a::before {
	content: "\f0d5";
}
.fa-money > a::before {
	content: "\f0d6";
}
.fa-caret-down > a::before {
	content: "\f0d7";
}
.fa-caret-up > a::before {
	content: "\f0d8";
}
.fa-caret-left > a::before {
	content: "\f0d9";
}
.fa-caret-right > a::before {
	content: "\f0da";
}
.fa-columns > a::before {
	content: "\f0db";
}
.fa-unsorted a::before,
.fa-sort > a::before {
	content: "\f0dc";
}
.fa-sort-down a::before,
.fa-sort-desc > a::before {
	content: "\f0dd";
}
.fa-sort-up a::before,
.fa-sort-asc > a::before {
	content: "\f0de";
}
.fa-envelope > a::before {
	content: "\f0e0";
}
.fa-linkedin > a::before {
	content: "\f0e1";
}
.fa-rotate-left a::before,
.fa-undo > a::before {
	content: "\f0e2";
}
.fa-legal a::before,
.fa-gavel > a::before {
	content: "\f0e3";
}
.fa-dashboard a::before,
.fa-tachometer > a::before {
	content: "\f0e4";
}
.fa-comment-o > a::before {
	content: "\f0e5";
}
.fa-comments-o > a::before {
	content: "\f0e6";
}
.fa-flash a::before,
.fa-bolt > a::before {
	content: "\f0e7";
}
.fa-sitemap > a::before {
	content: "\f0e8";
}
.fa-umbrella > a::before {
	content: "\f0e9";
}
.fa-paste a::before,
.fa-clipboard > a::before {
	content: "\f0ea";
}
.fa-lightbulb-o > a::before {
	content: "\f0eb";
}
.fa-exchange > a::before {
	content: "\f0ec";
}
.fa-cloud-download > a::before {
	content: "\f0ed";
}
.fa-cloud-upload > a::before {
	content: "\f0ee";
}
.fa-user-md > a::before {
	content: "\f0f0";
}
.fa-stethoscope > a::before {
	content: "\f0f1";
}
.fa-suitcase > a::before {
	content: "\f0f2";
}
.fa-bell-o > a::before {
	content: "\f0a2";
}
.fa-coffee > a::before {
	content: "\f0f4";
}
.fa-cutlery > a::before {
	content: "\f0f5";
}
.fa-file-text-o > a::before {
	content: "\f0f6";
}
.fa-building-o > a::before {
	content: "\f0f7";
}
.fa-hospital-o > a::before {
	content: "\f0f8";
}
.fa-ambulance > a::before {
	content: "\f0f9";
}
.fa-medkit > a::before {
	content: "\f0fa";
}
.fa-fighter-jet > a::before {
	content: "\f0fb";
}
.fa-beer > a::before {
	content: "\f0fc";
}
.fa-h-square > a::before {
	content: "\f0fd";
}
.fa-plus-square > a::before {
	content: "\f0fe";
}
.fa-angle-double-left > a::before {
	content: "\f100";
}
.fa-angle-double-right > a::before {
	content: "\f101";
}
.fa-angle-double-up > a::before {
	content: "\f102";
}
.fa-angle-double-down > a::before {
	content: "\f103";
}
.fa-angle-left > a::before {
	content: "\f104";
}
.fa-angle-right > a::before {
	content: "\f105";
}
.fa-angle-up > a::before {
	content: "\f106";
}
.fa-angle-down > a::before {
	content: "\f107";
}
.fa-desktop > a::before {
	content: "\f108";
}
.fa-laptop > a::before {
	content: "\f109";
}
.fa-tablet > a::before {
	content: "\f10a";
}
.fa-mobile-phone a::before,
.fa-mobile > a::before {
	content: "\f10b";
}
.fa-circle-o > a::before {
	content: "\f10c";
}
.fa-quote-left > a::before {
	content: "\f10d";
}
.fa-quote-right > a::before {
	content: "\f10e";
}
.fa-spinner > a::before {
	content: "\f110";
}
.fa-circle > a::before {
	content: "\f111";
}
.fa-mail-reply a::before,
.fa-reply > a::before {
	content: "\f112";
}
.fa-github-alt > a::before {
	content: "\f113";
}
.fa-folder-o > a::before {
	content: "\f114";
}
.fa-folder-open-o > a::before {
	content: "\f115";
}
.fa-smile-o > a::before {
	content: "\f118";
}
.fa-frown-o > a::before {
	content: "\f119";
}
.fa-meh-o > a::before {
	content: "\f11a";
}
.fa-gamepad > a::before {
	content: "\f11b";
}
.fa-keyboard-o > a::before {
	content: "\f11c";
}
.fa-flag-o > a::before {
	content: "\f11d";
}
.fa-flag-checkered > a::before {
	content: "\f11e";
}
.fa-terminal > a::before {
	content: "\f120";
}
.fa-code > a::before {
	content: "\f121";
}
.fa-mail-reply-all a::before,
.fa-reply-all > a::before {
	content: "\f122";
}
.fa-star-half-empty a::before,
.fa-star-half-full a::before,
.fa-star-half-o > a::before {
	content: "\f123";
}
.fa-location-arrow > a::before {
	content: "\f124";
}
.fa-crop > a::before {
	content: "\f125";
}
.fa-code-fork > a::before {
	content: "\f126";
}
.fa-unlink a::before,
.fa-chain-broken > a::before {
	content: "\f127";
}
.fa-question > a::before {
	content: "\f128";
}
.fa-info > a::before {
	content: "\f129";
}
.fa-exclamation > a::before {
	content: "\f12a";
}
.fa-superscript > a::before {
	content: "\f12b";
}
.fa-subscript > a::before {
	content: "\f12c";
}
.fa-eraser > a::before {
	content: "\f12d";
}
.fa-puzzle-piece > a::before {
	content: "\f12e";
}
.fa-microphone > a::before {
	content: "\f130";
}
.fa-microphone-slash > a::before {
	content: "\f131";
}
.fa-shield > a::before {
	content: "\f132";
}
.fa-calendar-o > a::before {
	content: "\f133";
}
.fa-fire-extinguisher > a::before {
	content: "\f134";
}
.fa-rocket > a::before {
	content: "\f135";
}
.fa-maxcdn > a::before {
	content: "\f136";
}
.fa-chevron-circle-left > a::before {
	content: "\f137";
}
.fa-chevron-circle-right > a::before {
	content: "\f138";
}
.fa-chevron-circle-up > a::before {
	content: "\f139";
}
.fa-chevron-circle-down > a::before {
	content: "\f13a";
}
.fa-html5 > a::before {
	content: "\f13b";
}
.fa-css3 > a::before {
	content: "\f13c";
}
.fa-anchor > a::before {
	content: "\f13d";
}
.fa-unlock-alt > a::before {
	content: "\f13e";
}
.fa-bullseye > a::before {
	content: "\f140";
}
.fa-ellipsis-h > a::before {
	content: "\f141";
}
.fa-ellipsis-v > a::before {
	content: "\f142";
}
.fa-rss-square > a::before {
	content: "\f143";
}
.fa-play-circle > a::before {
	content: "\f144";
}
.fa-ticket > a::before {
	content: "\f145";
}
.fa-minus-square > a::before {
	content: "\f146";
}
.fa-minus-square-o > a::before {
	content: "\f147";
}
.fa-level-up > a::before {
	content: "\f148";
}
.fa-level-down > a::before {
	content: "\f149";
}
.fa-check-square > a::before {
	content: "\f14a";
}
.fa-pencil-square > a::before {
	content: "\f14b";
}
.fa-external-link-square > a::before {
	content: "\f14c";
}
.fa-share-square > a::before {
	content: "\f14d";
}
.fa-compass > a::before {
	content: "\f14e";
}
.fa-toggle-down a::before,
.fa-caret-square-o-down > a::before {
	content: "\f150";
}
.fa-toggle-up a::before,
.fa-caret-square-o-up > a::before {
	content: "\f151";
}
.fa-toggle-right a::before,
.fa-caret-square-o-right > a::before {
	content: "\f152";
}
.fa-euro a::before,
.fa-eur > a::before {
	content: "\f153";
}
.fa-gbp > a::before {
	content: "\f154";
}
.fa-dollar a::before,
.fa-usd > a::before {
	content: "\f155";
}
.fa-rupee a::before,
.fa-inr > a::before {
	content: "\f156";
}
.fa-cny a::before,
.fa-rmb a::before,
.fa-yen a::before,
.fa-jpy > a::before {
	content: "\f157";
}
.fa-ruble a::before,
.fa-rouble a::before,
.fa-rub > a::before {
	content: "\f158";
}
.fa-won a::before,
.fa-krw > a::before {
	content: "\f159";
}
.fa-bitcoin a::before,
.fa-btc > a::before {
	content: "\f15a";
}
.fa-file > a::before {
	content: "\f15b";
}
.fa-file-text > a::before {
	content: "\f15c";
}
.fa-sort-alpha-asc > a::before {
	content: "\f15d";
}
.fa-sort-alpha-desc > a::before {
	content: "\f15e";
}
.fa-sort-amount-asc > a::before {
	content: "\f160";
}
.fa-sort-amount-desc > a::before {
	content: "\f161";
}
.fa-sort-numeric-asc > a::before {
	content: "\f162";
}
.fa-sort-numeric-desc > a::before {
	content: "\f163";
}
.fa-thumbs-up > a::before {
	content: "\f164";
}
.fa-thumbs-down > a::before {
	content: "\f165";
}
.fa-youtube-square > a::before {
	content: "\f166";
}
.fa-youtube > a::before {
	content: "\f167";
}
.fa-xing > a::before {
	content: "\f168";
}
.fa-xing-square > a::before {
	content: "\f169";
}
.fa-youtube-play > a::before {
	content: "\f16a";
}
.fa-dropbox > a::before {
	content: "\f16b";
}
.fa-stack-overflow > a::before {
	content: "\f16c";
}
.fa-instagram > a::before {
	content: "\f16d";
}
.fa-flickr > a::before {
	content: "\f16e";
}
.fa-adn > a::before {
	content: "\f170";
}
.fa-bitbucket > a::before {
	content: "\f171";
}
.fa-bitbucket-square > a::before {
	content: "\f172";
}
.fa-tumblr > a::before {
	content: "\f173";
}
.fa-tumblr-square > a::before {
	content: "\f174";
}
.fa-long-arrow-down > a::before {
	content: "\f175";
}
.fa-long-arrow-up > a::before {
	content: "\f176";
}
.fa-long-arrow-left > a::before {
	content: "\f177";
}
.fa-long-arrow-right > a::before {
	content: "\f178";
}
.fa-apple > a::before {
	content: "\f179";
}
.fa-windows > a::before {
	content: "\f17a";
}
.fa-android > a::before {
	content: "\f17b";
}
.fa-linux > a::before {
	content: "\f17c";
}
.fa-dribbble > a::before {
	content: "\f17d";
}
.fa-skype > a::before {
	content: "\f17e";
}
.fa-foursquare > a::before {
	content: "\f180";
}
.fa-trello > a::before {
	content: "\f181";
}
.fa-female > a::before {
	content: "\f182";
}
.fa-male > a::before {
	content: "\f183";
}
.fa-gittip a::before,
.fa-gratipay > a::before {
	content: "\f184";
}
.fa-sun-o > a::before {
	content: "\f185";
}
.fa-moon-o > a::before {
	content: "\f186";
}
.fa-archive > a::before {
	content: "\f187";
}
.fa-bug > a::before {
	content: "\f188";
}
.fa-vk > a::before {
	content: "\f189";
}
.fa-weibo > a::before {
	content: "\f18a";
}
.fa-renren > a::before {
	content: "\f18b";
}
.fa-pagelines > a::before {
	content: "\f18c";
}
.fa-stack-exchange > a::before {
	content: "\f18d";
}
.fa-arrow-circle-o-right > a::before {
	content: "\f18e";
}
.fa-arrow-circle-o-left > a::before {
	content: "\f190";
}
.fa-toggle-left a::before,
.fa-caret-square-o-left > a::before {
	content: "\f191";
}
.fa-dot-circle-o > a::before {
	content: "\f192";
}
.fa-wheelchair > a::before {
	content: "\f193";
}
.fa-vimeo-square > a::before {
	content: "\f194";
}
.fa-turkish-lira a::before,
.fa-try > a::before {
	content: "\f195";
}
.fa-plus-square-o > a::before {
	content: "\f196";
}
.fa-space-shuttle > a::before {
	content: "\f197";
}
.fa-slack > a::before {
	content: "\f198";
}
.fa-envelope-square > a::before {
	content: "\f199";
}
.fa-wordpress > a::before {
	content: "\f19a";
}
.fa-openid > a::before {
	content: "\f19b";
}
.fa-institution a::before,
.fa-bank a::before,
.fa-university > a::before {
	content: "\f19c";
}
.fa-mortar-board a::before,
.fa-graduation-cap > a::before {
	content: "\f19d";
}
.fa-yahoo > a::before {
	content: "\f19e";
}
.fa-google > a::before {
	content: "\f1a0";
}
.fa-reddit > a::before {
	content: "\f1a1";
}
.fa-reddit-square > a::before {
	content: "\f1a2";
}
.fa-stumbleupon-circle > a::before {
	content: "\f1a3";
}
.fa-stumbleupon > a::before {
	content: "\f1a4";
}
.fa-delicious > a::before {
	content: "\f1a5";
}
.fa-digg > a::before {
	content: "\f1a6";
}
.fa-pied-piper-pp > a::before {
	content: "\f1a7";
}
.fa-pied-piper-alt > a::before {
	content: "\f1a8";
}
.fa-drupal > a::before {
	content: "\f1a9";
}
.fa-joomla > a::before {
	content: "\f1aa";
}
.fa-language > a::before {
	content: "\f1ab";
}
.fa-fax > a::before {
	content: "\f1ac";
}
.fa-building > a::before {
	content: "\f1ad";
}
.fa-child > a::before {
	content: "\f1ae";
}
.fa-paw > a::before {
	content: "\f1b0";
}
.fa-spoon > a::before {
	content: "\f1b1";
}
.fa-cube > a::before {
	content: "\f1b2";
}
.fa-cubes > a::before {
	content: "\f1b3";
}
.fa-behance > a::before {
	content: "\f1b4";
}
.fa-behance-square > a::before {
	content: "\f1b5";
}
.fa-steam > a::before {
	content: "\f1b6";
}
.fa-steam-square > a::before {
	content: "\f1b7";
}
.fa-recycle > a::before {
	content: "\f1b8";
}
.fa-automobile a::before,
.fa-car > a::before {
	content: "\f1b9";
}
.fa-cab a::before,
.fa-taxi > a::before {
	content: "\f1ba";
}
.fa-tree > a::before {
	content: "\f1bb";
}
.fa-spotify > a::before {
	content: "\f1bc";
}
.fa-deviantart > a::before {
	content: "\f1bd";
}
.fa-soundcloud > a::before {
	content: "\f1be";
}
.fa-database > a::before {
	content: "\f1c0";
}
.fa-file-pdf-o > a::before {
	content: "\f1c1";
}
.fa-file-word-o > a::before {
	content: "\f1c2";
}
.fa-file-excel-o > a::before {
	content: "\f1c3";
}
.fa-file-powerpoint-o > a::before {
	content: "\f1c4";
}
.fa-file-photo-o a::before,
.fa-file-picture-o a::before,
.fa-file-image-o > a::before {
	content: "\f1c5";
}
.fa-file-zip-o a::before,
.fa-file-archive-o > a::before {
	content: "\f1c6";
}
.fa-file-sound-o a::before,
.fa-file-audio-o > a::before {
	content: "\f1c7";
}
.fa-file-movie-o a::before,
.fa-file-video-o > a::before {
	content: "\f1c8";
}
.fa-file-code-o > a::before {
	content: "\f1c9";
}
.fa-vine > a::before {
	content: "\f1ca";
}
.fa-codepen > a::before {
	content: "\f1cb";
}
.fa-jsfiddle > a::before {
	content: "\f1cc";
}
.fa-life-bouy a::before,
.fa-life-buoy a::before,
.fa-life-saver a::before,
.fa-support a::before,
.fa-life-ring > a::before {
	content: "\f1cd";
}
.fa-circle-o-notch > a::before {
	content: "\f1ce";
}
.fa-ra a::before,
.fa-resistance a::before,
.fa-rebel > a::before {
	content: "\f1d0";
}
.fa-ge a::before,
.fa-empire > a::before {
	content: "\f1d1";
}
.fa-git-square > a::before {
	content: "\f1d2";
}
.fa-git > a::before {
	content: "\f1d3";
}
.fa-y-combinator-square a::before,
.fa-yc-square a::before,
.fa-hacker-news > a::before {
	content: "\f1d4";
}
.fa-tencent-weibo > a::before {
	content: "\f1d5";
}
.fa-qq > a::before {
	content: "\f1d6";
}
.fa-wechat a::before,
.fa-weixin > a::before {
	content: "\f1d7";
}
.fa-send a::before,
.fa-paper-plane > a::before {
	content: "\f1d8";
}
.fa-send-o a::before,
.fa-paper-plane-o > a::before {
	content: "\f1d9";
}
.fa-history > a::before {
	content: "\f1da";
}
.fa-circle-thin > a::before {
	content: "\f1db";
}
.fa-header > a::before {
	content: "\f1dc";
}
.fa-paragraph > a::before {
	content: "\f1dd";
}
.fa-sliders > a::before {
	content: "\f1de";
}
.fa-share-alt > a::before {
	content: "\f1e0";
}
.fa-share-alt-square > a::before {
	content: "\f1e1";
}
.fa-bomb > a::before {
	content: "\f1e2";
}
.fa-soccer-ball-o a::before,
.fa-futbol-o > a::before {
	content: "\f1e3";
}
.fa-tty > a::before {
	content: "\f1e4";
}
.fa-binoculars > a::before {
	content: "\f1e5";
}
.fa-plug > a::before {
	content: "\f1e6";
}
.fa-slideshare > a::before {
	content: "\f1e7";
}
.fa-twitch > a::before {
	content: "\f1e8";
}
.fa-yelp > a::before {
	content: "\f1e9";
}
.fa-newspaper-o > a::before {
	content: "\f1ea";
}
.fa-wifi > a::before {
	content: "\f1eb";
}
.fa-calculator > a::before {
	content: "\f1ec";
}
.fa-paypal > a::before {
	content: "\f1ed";
}
.fa-google-wallet > a::before {
	content: "\f1ee";
}
.fa-cc-visa > a::before {
	content: "\f1f0";
}
.fa-cc-mastercard > a::before {
	content: "\f1f1";
}
.fa-cc-discover > a::before {
	content: "\f1f2";
}
.fa-cc-amex > a::before {
	content: "\f1f3";
}
.fa-cc-paypal > a::before {
	content: "\f1f4";
}
.fa-cc-stripe > a::before {
	content: "\f1f5";
}
.fa-bell-slash > a::before {
	content: "\f1f6";
}
.fa-bell-slash-o > a::before {
	content: "\f1f7";
}
.fa-trash > a::before {
	content: "\f1f8";
}
.fa-copyright > a::before {
	content: "\f1f9";
}
.fa-at > a::before {
	content: "\f1fa";
}
.fa-eyedropper > a::before {
	content: "\f1fb";
}
.fa-paint-brush > a::before {
	content: "\f1fc";
}
.fa-birthday-cake > a::before {
	content: "\f1fd";
}
.fa-area-chart > a::before {
	content: "\f1fe";
}
.fa-pie-chart > a::before {
	content: "\f200";
}
.fa-line-chart > a::before {
	content: "\f201";
}
.fa-lastfm > a::before {
	content: "\f202";
}
.fa-lastfm-square > a::before {
	content: "\f203";
}
.fa-toggle-off > a::before {
	content: "\f204";
}
.fa-toggle-on > a::before {
	content: "\f205";
}
.fa-bicycle > a::before {
	content: "\f206";
}
.fa-bus > a::before {
	content: "\f207";
}
.fa-ioxhost > a::before {
	content: "\f208";
}
.fa-angellist > a::before {
	content: "\f209";
}
.fa-cc > a::before {
	content: "\f20a";
}
.fa-shekel a::before,
.fa-sheqel a::before,
.fa-ils > a::before {
	content: "\f20b";
}
.fa-meanpath > a::before {
	content: "\f20c";
}
.fa-buysellads > a::before {
	content: "\f20d";
}
.fa-connectdevelop > a::before {
	content: "\f20e";
}
.fa-dashcube > a::before {
	content: "\f210";
}
.fa-forumbee > a::before {
	content: "\f211";
}
.fa-leanpub > a::before {
	content: "\f212";
}
.fa-sellsy > a::before {
	content: "\f213";
}
.fa-shirtsinbulk > a::before {
	content: "\f214";
}
.fa-simplybuilt > a::before {
	content: "\f215";
}
.fa-skyatlas > a::before {
	content: "\f216";
}
.fa-cart-plus > a::before {
	content: "\f217";
}
.fa-cart-arrow-down > a::before {
	content: "\f218";
}
.fa-diamond > a::before {
	content: "\f219";
}
.fa-ship > a::before {
	content: "\f21a";
}
.fa-user-secret > a::before {
	content: "\f21b";
}
.fa-motorcycle > a::before {
	content: "\f21c";
}
.fa-street-view > a::before {
	content: "\f21d";
}
.fa-heartbeat > a::before {
	content: "\f21e";
}
.fa-venus > a::before {
	content: "\f221";
}
.fa-mars > a::before {
	content: "\f222";
}
.fa-mercury > a::before {
	content: "\f223";
}
.fa-intersex a::before,
.fa-transgender > a::before {
	content: "\f224";
}
.fa-transgender-alt > a::before {
	content: "\f225";
}
.fa-venus-double > a::before {
	content: "\f226";
}
.fa-mars-double > a::before {
	content: "\f227";
}
.fa-venus-mars > a::before {
	content: "\f228";
}
.fa-mars-stroke > a::before {
	content: "\f229";
}
.fa-mars-stroke-v > a::before {
	content: "\f22a";
}
.fa-mars-stroke-h > a::before {
	content: "\f22b";
}
.fa-neuter > a::before {
	content: "\f22c";
}
.fa-genderless > a::before {
	content: "\f22d";
}
.fa-facebook-official > a::before {
	content: "\f230";
}
.fa-pinterest-p > a::before {
	content: "\f231";
}
.fa-whatsapp > a::before {
	content: "\f232";
}
.fa-server > a::before {
	content: "\f233";
}
.fa-user-plus > a::before {
	content: "\f234";
}
.fa-user-times > a::before {
	content: "\f235";
}
.fa-hotel a::before,
.fa-bed > a::before {
	content: "\f236";
}
.fa-viacoin > a::before {
	content: "\f237";
}
.fa-train > a::before {
	content: "\f238";
}
.fa-subway > a::before {
	content: "\f239";
}
.fa-medium > a::before {
	content: "\f23a";
}
.fa-yc a::before,
.fa-y-combinator > a::before {
	content: "\f23b";
}
.fa-optin-monster > a::before {
	content: "\f23c";
}
.fa-opencart > a::before {
	content: "\f23d";
}
.fa-expeditedssl > a::before {
	content: "\f23e";
}
.fa-battery-4 a::before,
.fa-battery-full > a::before {
	content: "\f240";
}
.fa-battery-3 a::before,
.fa-battery-three-quarters > a::before {
	content: "\f241";
}
.fa-battery-2 a::before,
.fa-battery-half > a::before {
	content: "\f242";
}
.fa-battery-1 a::before,
.fa-battery-quarter > a::before {
	content: "\f243";
}
.fa-battery-0 a::before,
.fa-battery-empty > a::before {
	content: "\f244";
}
.fa-mouse-pointer > a::before {
	content: "\f245";
}
.fa-i-cursor > a::before {
	content: "\f246";
}
.fa-object-group > a::before {
	content: "\f247";
}
.fa-object-ungroup > a::before {
	content: "\f248";
}
.fa-sticky-note > a::before {
	content: "\f249";
}
.fa-sticky-note-o > a::before {
	content: "\f24a";
}
.fa-cc-jcb > a::before {
	content: "\f24b";
}
.fa-cc-diners-club > a::before {
	content: "\f24c";
}
.fa-clone > a::before {
	content: "\f24d";
}
.fa-balance-scale > a::before {
	content: "\f24e";
}
.fa-hourglass-o > a::before {
	content: "\f250";
}
.fa-hourglass-1 a::before,
.fa-hourglass-start > a::before {
	content: "\f251";
}
.fa-hourglass-2 a::before,
.fa-hourglass-half > a::before {
	content: "\f252";
}
.fa-hourglass-3 a::before,
.fa-hourglass-end > a::before {
	content: "\f253";
}
.fa-hourglass > a::before {
	content: "\f254";
}
.fa-hand-grab-o a::before,
.fa-hand-rock-o > a::before {
	content: "\f255";
}
.fa-hand-stop-o a::before,
.fa-hand-paper-o > a::before {
	content: "\f256";
}
.fa-hand-scissors-o > a::before {
	content: "\f257";
}
.fa-hand-lizard-o > a::before {
	content: "\f258";
}
.fa-hand-spock-o > a::before {
	content: "\f259";
}
.fa-hand-pointer-o > a::before {
	content: "\f25a";
}
.fa-hand-peace-o > a::before {
	content: "\f25b";
}
.fa-trademark > a::before {
	content: "\f25c";
}
.fa-registered > a::before {
	content: "\f25d";
}
.fa-creative-commons > a::before {
	content: "\f25e";
}
.fa-gg > a::before {
	content: "\f260";
}
.fa-gg-circle > a::before {
	content: "\f261";
}
.fa-tripadvisor > a::before {
	content: "\f262";
}
.fa-odnoklassniki > a::before {
	content: "\f263";
}
.fa-odnoklassniki-square > a::before {
	content: "\f264";
}
.fa-get-pocket > a::before {
	content: "\f265";
}
.fa-wikipedia-w > a::before {
	content: "\f266";
}
.fa-safari > a::before {
	content: "\f267";
}
.fa-chrome > a::before {
	content: "\f268";
}
.fa-firefox > a::before {
	content: "\f269";
}
.fa-opera > a::before {
	content: "\f26a";
}
.fa-internet-explorer > a::before {
	content: "\f26b";
}
.fa-tv a::before,
.fa-television > a::before {
	content: "\f26c";
}
.fa-contao > a::before {
	content: "\f26d";
}
.fa-500px > a::before {
	content: "\f26e";
}
.fa-amazon > a::before {
	content: "\f270";
}
.fa-calendar-plus-o > a::before {
	content: "\f271";
}
.fa-calendar-minus-o > a::before {
	content: "\f272";
}
.fa-calendar-times-o > a::before {
	content: "\f273";
}
.fa-calendar-check-o > a::before {
	content: "\f274";
}
.fa-industry > a::before {
	content: "\f275";
}
.fa-map-pin > a::before {
	content: "\f276";
}
.fa-map-signs > a::before {
	content: "\f277";
}
.fa-map-o > a::before {
	content: "\f278";
}
.fa-map > a::before {
	content: "\f279";
}
.fa-commenting > a::before {
	content: "\f27a";
}
.fa-commenting-o > a::before {
	content: "\f27b";
}
.fa-houzz > a::before {
	content: "\f27c";
}
.fa-vimeo > a::before {
	content: "\f27d";
}
.fa-black-tie > a::before {
	content: "\f27e";
}
.fa-fonticons > a::before {
	content: "\f280";
}
.fa-reddit-alien > a::before {
	content: "\f281";
}
.fa-edge > a::before {
	content: "\f282";
}
.fa-credit-card-alt > a::before {
	content: "\f283";
}
.fa-codiepie > a::before {
	content: "\f284";
}
.fa-modx > a::before {
	content: "\f285";
}
.fa-fort-awesome > a::before {
	content: "\f286";
}
.fa-usb > a::before {
	content: "\f287";
}
.fa-product-hunt > a::before {
	content: "\f288";
}
.fa-mixcloud > a::before {
	content: "\f289";
}
.fa-scribd > a::before {
	content: "\f28a";
}
.fa-pause-circle > a::before {
	content: "\f28b";
}
.fa-pause-circle-o > a::before {
	content: "\f28c";
}
.fa-stop-circle > a::before {
	content: "\f28d";
}
.fa-stop-circle-o > a::before {
	content: "\f28e";
}
.fa-shopping-bag > a::before {
	content: "\f290";
}
.fa-shopping-basket > a::before {
	content: "\f291";
}
.fa-hashtag > a::before {
	content: "\f292";
}
.fa-bluetooth > a::before {
	content: "\f293";
}
.fa-bluetooth-b > a::before {
	content: "\f294";
}
.fa-percent > a::before {
	content: "\f295";
}
.fa-gitlab > a::before {
	content: "\f296";
}
.fa-wpbeginner > a::before {
	content: "\f297";
}
.fa-wpforms > a::before {
	content: "\f298";
}
.fa-envira > a::before {
	content: "\f299";
}
.fa-universal-access > a::before {
	content: "\f29a";
}
.fa-wheelchair-alt > a::before {
	content: "\f29b";
}
.fa-question-circle-o > a::before {
	content: "\f29c";
}
.fa-blind > a::before {
	content: "\f29d";
}
.fa-audio-description > a::before {
	content: "\f29e";
}
.fa-volume-control-phone > a::before {
	content: "\f2a0";
}
.fa-braille > a::before {
	content: "\f2a1";
}
.fa-assistive-listening-systems > a::before {
	content: "\f2a2";
}
.fa-asl-interpreting a::before,
.fa-american-sign-language-interpreting > a::before {
	content: "\f2a3";
}
.fa-deafness a::before,
.fa-hard-of-hearing a::before,
.fa-deaf > a::before {
	content: "\f2a4";
}
.fa-glide > a::before {
	content: "\f2a5";
}
.fa-glide-g > a::before {
	content: "\f2a6";
}
.fa-signing a::before,
.fa-sign-language > a::before {
	content: "\f2a7";
}
.fa-low-vision > a::before {
	content: "\f2a8";
}
.fa-viadeo > a::before {
	content: "\f2a9";
}
.fa-viadeo-square > a::before {
	content: "\f2aa";
}
.fa-snapchat > a::before {
	content: "\f2ab";
}
.fa-snapchat-ghost > a::before {
	content: "\f2ac";
}
.fa-snapchat-square > a::before {
	content: "\f2ad";
}
.fa-pied-piper > a::before {
	content: "\f2ae";
}
.fa-first-order > a::before {
	content: "\f2b0";
}
.fa-yoast > a::before {
	content: "\f2b1";
}
.fa-themeisle > a::before {
	content: "\f2b2";
}
.fa-google-plus-circle a::before,
.fa-google-plus-official > a::before {
	content: "\f2b3";
}
.fa-fa a::before,
.fa-font-awesome > a::before {
	content: "\f2b4";
}

// Menu Icon CSS
.menu__items {

	// Stop FontAwesome from adding icons to the list element.
	.menu__item::before {
		content: '';
	}

	// Display icon on the link within.
	.menu__item a::before {
		@extend %icon;
		margin-right: rem(9px);
		position: relative;
		top: rem(-1px);
	}

	// Highlight active menu item.
	.menu__item--current > a::before,
	.menu__item--parent > a::before,
	.menu__item--ancestor > a::before,
	.menu__item a:focus::before,
	.menu__item a:hover::before {
		color: color(primary);
	}
}
