////
/// Custom extends.
///
/// @group  Tools
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

// Basic clearfix for clearing floats.
%clearfix {
	content    : ".";
	display    : block;
	height     : 0;
	clear      : both;
	visibility : hidden;
}

// Icon font CSS.
%icon {
	display: inline-block;
	font-family: FontAwesome; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-weight: 300;
	vertical-align: bottom;
}

// Button CSS
%button {
	display: inline-block;
	border: 1px solid color(primary);
	padding: rem(11px 18px);
	background: color(primary);
	background: linear-gradient(30deg, color(primary) 0%, lighten(color(primary), 5%) 100%);
	box-shadow: rem(inset 0 -3px rgba(#000, 15%), 0 2px 3px rgba(#000, 15%));
	font-family: font-family(secondary);
	font-size: rem(16px);
	font-weight: 600;
	color: #fff;
	line-height: 1.5;
	letter-spacing: rem(1px);
	text-shadow: rem(-1px -1px 0 rgba(0,0,0,0.25));
	text-transform: uppercase;

	&:hover {
		background: lighten(color(primary), 5%);
		text-decoration: none;
	}

	// Button icon.
	&::after {
		@extend %icon;
		content: '\f105';
		position: relative;
		top: rem(-1px);
		margin-left: 0.5rem;
	}
}

// Border Radius
%border-radius {
	border-radius: rem(5px);
}

%border-top-radius {
	@extend %border-radius;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

%border-bottom-radius {
	@extend %border-radius;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
