////
/// Default elements.
///
/// @group  Elements
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

// Box Sizing.
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// @fontface to force browsers to load web font over local copy.
@font-face {
	font-display: 'swap';
}

// HTML styles. Everything is in REMs! Change this base value in px to scale
// everything proportionally.
html {

	@media ( max-width: break(medium) ) {
		font-size: 15px;
	}

	@media ( max-width: break(small) ) {
		font-size: 14px;
	}
}

// Body styles. Note that we're hiding horizontal overflow so that wide images
// don't overflow.
body {
	overflow-x: hidden;
	font-family: font-family(primary);
	font-weight: 300;
	line-height: 1.5;
	color: color(text);
	word-wrap: break-word;
}

// Links.
a {
	font-weight: 700;
	color: color(primary);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// Paragraphs.
p {
	margin: 0 0 1.5rem;
}

// List styles.
ul,
ol {
	margin: 0 0 1.5rem 2rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 0 0 0 2rem;
}

// Definition lists.
dl {
	margin-bottom: 1.5rem;
}

dt {
	font-weight: 600;
}

dd {
	margin: 0 0 1.5rem 1rem;
}

// Blockquotes.
blockquote {
	margin-bottom: 1.5rem;
	border-left: rem(2px solid color(primary));
	padding-left: 1.5rem;
	font-family: font-family(secondary);
}

// Horizontal rule.
hr {
	margin: 1.5rem auto;
	border: 0;
	height: 0;
	border-top: 1px solid color(border);
}

// Pre styles.
pre {
	overflow-x: auto;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	background: #333;
	color: rgba(#fff, 50%);
}

// Address.
address {
	margin-bottom: 1.5rem;
}

// Abbreviation and acronym.
abbr,
acronym {
	border-bottom: rem(2px dotted color(primary));
	cursor: help;
}

// Delete (strike).
s,
strike,
del {
	text-decoration: line-through;
}

// Mark & insert.
mark,
ins {
	background: #eee;
	text-decoration: none;
}

// Subscript & superscript.
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

// Line breaks in `<h1>`, `<h2`> and `<p>` tags.
@media ( max-width: break(small) ) {
	h1 > br,
	h2 > br,
	p > br {
		display: none;
	}
}

// Icons
.fa {
	color: color(primary);
}
