////
/// Heading elements.
///
/// @group  Elements
/// @author David Graham <david.graham@strangebrewdesign.com>
/// @link   http://www.strangebrewdesign.com
////

h1,
h2,
h3 {
	margin: 0 0 1.5rem;
	font-family: font-family(secondary);
	font-weight: 700;
	color: color(heading);
	line-height: 1.5;

	em {
		color: color(primary);
		font-style: normal;
	}
}

%h1,
.h1,
h1 {
	font-size: rem(48px);
	line-height: get-line-height(48px, 60px);
}

%h2,
.h2,
h2 {
	font-size: rem(36px);
	line-height: get-line-height(36px, 48px);
}

%h3,
.h3,
h3 {
	font-size: rem(24px);
	line-height: get-line-height(24px, 30px);
}
